<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p id="hum"></p>
    <p>tes</p>



    <script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    socket.on("mqtt_data", (msg) => {
  console.log(msg);

  if (msg.topic === "iot/dht11/hum") {
    document.getElementById("hum").textContent = msg.data;
  }
});

</script>
</body>
</html>